//Google Fonts
@import url('https://fonts.googleapis.com/css?family=Monoton');

//Sass vars
$titleFontStack: 'Monoton', 'Julius Sans One', sans-serif;
$titleColor: #c14fd4;
$mainTransitionProps: font-size 2s;

body {
  background-color: tomato;
  margin: 0;
}

.title {
  font-family: $titleFontStack;
  color: $titleColor;
  font-size: 3em;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: whitesmoke;
  -webkit-transition: $mainTransitionProps;
  -moz-transition: $mainTransitionProps;
  transition: $mainTransitionProps;
}

a:hover {
  font-size: 1.5em;
}

.banner {
  position: relative;
  height: 80vh;
  width: 100%;

  font-family: 'Julius Sans One', sans-serif;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.likeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.like-item {
  margin: 20px;
  text-align: center;
}

.space-list-items {
  margin-bottom: 7px;
}

.avatar {
  width: 150px;
  border-radius: 100%;
}
