body {
  background-color: tomato;
  margin: 0;
}

.banner {
  position: relative;
  height: 80vh;
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
